* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #7f8c8d;
    font-size: 13px;
    -webkit-animation: slideIn 0.65s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both, fadeIn 0.25s 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slideIn 0.65s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both, fadeIn 0.25s 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.img-responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.nav-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.home-menu {
    background: #222222;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.nav-menu.nav-menu-fixed {
    border-bottom: none;
    z-index: 4;
    text-align: left;
}

.home-menu .nav-menu-heading {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 45px;
    text-decoration: none;
}

.content-wrapper {
    position: absolute;
    top: 5%;
    right: 0%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.content-wrapper .copy {
    color: #ffffff;
    display: block;
    position: absolute;
    bottom: 58%;
    left: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.content-wrapper .copy h1,
.content-wrapper .copy h2,
.content-wrapper .copy p {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    text-shadow: 0px 1px 40px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-wrapper .copy h2 {
    font-size: 86px;
    line-height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-wrapper .copy p {
    font-weight: 400;
    width: 765px;
    line-height: 45px;
    font-size: 32px;
    margin-bottom: 0px;
}

.content-btn {
    background-color: #50e3c2;
    font-family: 'Lato', sans-serif;
    font-size: 31px;
    font-weight: 700;
    border: #50e3c2;
    color: #2f3237;
    width: 300px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 10px;
    outline: none;
}

.content-btn:hover {
    background-color: #50dfe3;
    transition: all 2s;
    outline: 0;
}

a.btn-align {
    display: inline-block;
    margin-top: 35px;
}

.content {
    padding: 1em 1em 3em;
}

.divider {
    width: 88px;
    margin: 20px auto 20px auto;
    height: 10px;
    background-color: #51e3c2;
    border: 1px #51e3c2;
}

.column {
    float: left;
    width: 24.99%;
    padding: 10px;
    height: 100%;
    text-align: center;
}

.column h1,
.column span,
.column p,
.content h1 {
    font-family: 'Lato', sans-serif;
    color: #2f3237;
    font-weight: 400;
    text-align: center;
}

.column h1 {
    font-size: 80px;
    margin-bottom: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.column span {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.column p {
    padding-left: 55px;
    padding-right: 55px;
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1.how-copy {
    width: 99.1111%;
    font-size: 62px;
    margin-top: 25px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1081px) {
    .home-menu .nav-menu-heading {
        margin-left: 0.999%;
    }
    .home-menu .nav-menu-heading {
        margin-left: 3%;
        width: 295px;
    }
}

@media screen and (min-width: 1440px) {
    .content-wrapper .copy {
        bottom: 45%;
    }
    .home-menu .nav-menu-heading {
        margin-left: 3%;
        width: 295px;
    }
}

@media screen and (max-width: 1080px) {
    .home-menu .nav-menu-heading {
        margin-left: 3%;
        width: 225px;
    }
    .nav-menu.nav-menu-fixed {
        text-align: center;
    }
    .content-wrapper {
        left: 0%;
        overflow-x: hidden;
    }
    .content-wrapper .copy h1,
    .content-wrapper .copy h2 {
        font-size: 37px;
        line-height: 44px;
    }
    .content-wrapper .copy {
        bottom: 78%;
        width: 100%;
    }
    .content-wrapper .copy p {
        font-size: 24px;
        width: 75%;
    }
    .column {
        width: 100%;
    }
    .content-btn {
        font-size: 24px;
        width: 250px;
    }
}

@media screen and (min-width: 500px) and (max-width: 780px) {
    .home-menu .nav-menu-heading {
        margin-left: 3%;
        width: 195px;
    }
    .content-wrapper .copy {
        bottom: 87%;
        width: 100%;
    }
    .content-wrapper .copy h1,
    .content-wrapper .copy h2 {
        font-size: 23px;
        line-height: 24px;
    }
    .content-wrapper .copy p {
        font-size: 15px;
        width: 75%;
        line-height: 24px;
    }
    h1.how-copy {
        font-size: 44px;
    }
    a.btn-align {
        margin-top: 25px;
    }
    .content-btn {
        font-size: 14px;
        width: 150px;
    }
}

@media screen and (min-width: 325px) and (max-width: 499px) {
    .home-menu .nav-menu-heading {
        margin-left: 3%;
        width: 195px;
    }
    .content-wrapper {
        left: 0%;
        overflow-x: hidden;
    }
    .content-wrapper .copy {
        top: 0.333%;
        width: 100%;
        text-align: center;
    }
    .content-wrapper .copy h1,
    .content-wrapper .copy h2 {
        width: 90%;
        font-size: 23px;
        line-height: 27px;
        margin-bottom: 0px;
    }
    .content-wrapper .copy p {
        width: 90%;
        font-size: 12px;
        line-height: 14px;
        margin-top: 6px;
    }
    h1.how-copy {
        font-size: 24px;
    }
    .column {
        width: 100%;
    }
    a.btn-align {
        margin-top: 15px;
        position: relative;
        right: 20px;
    }
    .content-btn {
        font-size: 12px;
        width: 150px;
        padding: 5px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width : 600px) {
    .content-wrapper .copy {
        top: 15px;
        margin-left: 0%;
        margin-right: 0%;
    }
    .column h1 {
        margin-top: 0px
    }
}

/* Animations */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
